<section>
  <img src="<%= book.img%>">
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <p><%= book.description %></p>

  <!-- Only shows for #detail-->
  <h4 id="isbn">ISBN: <%= book.isbn %></h4>
  <button id="editButton">Update Details</button>
  <form action="/delete/<%=book.id%>?_method=DELETE" method="post" id="deleteForm">
    <button type="submit">Delete Book</button>
  </form>

  <!-- Only shows for #index-->
  <a href="/books/<%=book.id%>"><button id="showDetails">Show Details</button></a>


  <!-- Only shows for #show-->
  <form action="/add" method='post' id="saveBook">
    <fieldset>
      <input type="text" name='title' value="<%= book.title %>">
      <input type="text" name='author' value='<%= book.author%>'>
      <input type="text" name='description' value="<%= book.description%>">
      <input type="text" name='isbn' value="<%= book.isbn%>">
      <input type="text" name='img' value="<%= book.img%>">
    </fieldset>
    <button type='submit'>Save Book</button>
  </form>



</section>