<% books.forEach(book => { %>
<section>
  <img src="<%= book.img%>">
  <% console.log(book) %>
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
    <p><%= book.description %></p>
    <h4>ISBN: <%= book.isbn %></h4>
    <a href="/"><button> Show All Books</button></a>
</section>
<% }) %>