<% books.forEach(book => { %>
<section>
  <img src="<%= book.img%>">
  <% console.log(book) %>
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
    <p><%= book.description %></p>
    <h4>ISBN: <%= book.isbn %></h4>
    <a href="/"><button> Show All Books</button></a>
</section>
<% }) %>


<!-- TODO:
1. Add in relevant stuff for all versions of the book display here
2. Add an id to each main that displays books (or a div with an id?)
3. In modules.css hide sections of this that aren't relevant depending on the id

note: will also need to inlude the form (I think)
-->