<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main>
        <h1>Book Details</h1>
        <% books.forEach(book => { %>
        <div id="modal">
            <form action="/edit/<%=book.id%>?_method=PUT" method="post" id="editForm">
                <%- include('../../books/form', {book: book}) %>
            </form>
        </div>
        <div class="book" id="detail">
            <%- include('../../books/detail', {book: book}) %>
            <% }) %>
        </div>
        <a href="/"><button id="showAll"> Show All Books</button></a>
    </main>
    <footer></footer>
    <script src="/js/modal.js"></script>
</body>

</html>