<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>
        <%- include('../layout/header') %>
    </header>
    <main>
        <h1><span id="badge"><%= saved.length %> </span>Saved Books</h1>
        <a href="/searches/new"><button>Search</button></a>
        <% saved.forEach(book => { %>
        <section>
            <img src="<%= book.img%>">
            <h2><%= book.title %></h3>
                <h3><%= book.author %></h3>
                <p><%= book.description %></p>
                <a href="/books/<%=book.id%>"><button>Show Details</button></a>
        </section>
        <% }) %>
    </main>
    <footer></footer>
</body>

</html>